[core]
  excludesfile = "/Users/adrian/.gitignore"

[user]
  name = Adrian Silva
  email = adrian@ageda.net
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
[alias]
  co = checkout
  branch-graph = log --graph --pretty=oneline --abbrev-commit
[merge]
  tool = suremerge
  conflictstyle = diff3
[diff]
  tool = guiffy
[push]
  default = tracking
[rerere]
  enabled = true
[github]
	user = skiold
